; This is a non-processed comment and it will not be parsed. Mind the space after semicolon.
; This file is a configuration file for the plugin and it is separated into sections with plain text names of config entries. 
; The parser is based on ConfigParser and You can refer to the documentation: https://docs.python.org/3/library/configparser.html
; Names (unique within whole file) should not contain spaces or special characters and should be followed by = and a value (empty value is also possible):
; name=value
; e.g.: 
; my_ip=127.0.0.1
; name=ePiframe
; size=120
; bool_value=0
; empty_value=
; list_value=2,3,2,1,2,3,4,3
; path=logs/ePiframe.log

; Sections are indicated by section name (unique within whole file) in square brackets and are used to divide entries into groups:
; e.g.
; [Section With Space]
; [Section 1]

; The file default/config.default and config.cfg should be initially the same as the default file is used to restore default values and validate configuration
; file config.cfg changed by the user. 

; Below there is an example of section and entry. The entry comment marked with '# ' will be parsed and used as a help tip in WebUI. 
; The lines will be concatenated into one and added as a help tip to the next entry below.
; Such comment should provide precise information about what entry does, possible values and a default value.

[General]

# Set 1 to enable plugin, 0 to disable.
; This line still won't be parsed.
; This entry is a default one and should not be removed.
# Default: 1 (enabled)
is_enabled=1

; For more examples check https://github.com/MikeGawi/ePiframe/blob/master/config.cfg